.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.red {
  background-color: #e74c3c;
}

.green {
  background-color: #2ecc71;
}

.blue {
  background-color: #3498db;
}

.yellow {
  background-color: #f1c40f;
}

.orange {
  background-color: #f39c12;
}

.grey {
  background-color: #bdc3c7;
}

.description {
  border: solid 1px #bdc3c7;
}