.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.red, .green, .blue, .yellow, .orange, .grey {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  border: solid 2px white;
}

.red {
  background-color: #dd514c;
}

.green {
  background-color: #5eb95e;
}

.blue {
  background-color: #0e90d2;
}

.yellow {
  background-color: #fad232;
}

.orange {
  background-color: #f37b1d;
}

.grey {
  background-color: #bdc3c7;
}