.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.red, .green, .blue, .yellow, .orange, .grey {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  border: solid 2px white;
  border-radius: 4px;
}

.red {
  background-color: #e74c3c;
}

.green {
  background-color: #5eb95e;
}

.blue {
  background-color: #3498db;
}

.yellow {
  background-color: #f1c40f;
}

.orange {
  background-color: #f39c12;
}

.grey {
  background-color: #bdc3c7;
}

.modal-content {
  font-size: 120%;
}

code {
   color: black;
   background-color: inherit;
}